# Homework
> 데이터 & 제어문

## 1. mutable & immutable
제시 된 컨테이너들을 각각, 일부를 변경 가능한 것(mutable)과 변경 불가능한 것(immutable)으로 분류하시오.

[참고] Call by Value, Call by Reference 와 같은 개념이다.

### mutable
list, set, dictionary

### immutable
literal(number, string,bool), tuple, range()

### [참고] 시퀀스형과 비 시퀀스 형

> 시퀀스형이란? 

비록 순서대로 나열되있진 않더라도 순서를 가지고 있으며 특정 위치의 데이터를 가리킬 수 있는 것


 - 순서가 있다. 
 - 연속형 자료형. 
 - 인덱싱, 슬라이싱이 가능하다.
 
 
 

1. 시퀀스형
 - list (데이터 수정 가능)
 - tuple (데이터 수정 불가능)
 - range
 - string
 - binary (따로 다루진 않을 것)
 
 
2. 비시퀀스형
 - set (순서가 없음, 중복된 값 없음)
 - dictionary (key는 immutable 변경불가능한 데이터만 가능)

## 2. 홀수 list
range와 slicing을 활용하여 1부터 50까지 숫자 중 홀수로 이루어진 리스트를 만드시오.

[참고] 
* **slicing** [start:end:step] : 
 - end는 해당 숫자 '미만'입니다. 해당 숫자는 포함하지 않습니다.
 - step은 몇 개씩 끊어서 가져올지를 정합니다.

In [10]:
# range
numbers = list(range(1, 51,2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [7]:
# slicing  only
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
print(numbers[0::2])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [8]:
# range & slicing together
numbers = list(range(1, 51))
print(numbers[::2])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [4]:
# for 문
numbers=50
number_list=[]
i=1
for i in range(1,numbers+1):
    if i%2:
        number_list+=[i]
    i+=1
    
print(number_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## 3. dictionary 생성
반 학생들의 정보를 이용하여 key는 이름, value는 나이인 dictionary를 만드시오.

In [9]:
# 아래에 코드를 작성하시오.

middle_school = {'박소현':'28','박대전':'29','박구미':'30' }
print(middle_school)

{'박소현': '28', '박대전': '29', '박구미': '30'}

## 4. 반복문으로 네모 출력
두 개의 정수 n과 m이 주어졌을 때, 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 별(*) 문자를 이용하여 출력하시오. 단, 반복문을 사용하여 작성하시오.

In [26]:
# 방법 1. 반복문 없이
n = 5
m = 9

print(('*'*n+'\n')*m)

*****
*****
*****
*****
*****
*****
*****
*****
*****

In [25]:
# 방법 2. 반복문 이용

# (1) while 문
n = 5
m = 9

i = 1
while i <= m:
    print('*'*n)
    i+=1

*****
*****
*****
*****
*****
*****
*****
*****
*****

In [23]:
# 방법 2. 반복문 이용

# (2) for 문
n = 5
m = 9

i=1
for i in range(1, m+1):
    print('*'*n)
    i+=1

*****
*****
*****
*****
*****
*****
*****
*****
*****

## 5. 조건 표현식
제시된 if 문을 조건 표현식으로 바꾸어 작성하시오.
```python
temp = 36.5
if temp >= 37.5:
    print('입실 불가')
else:
    print('입실 가능')
```

In [19]:
temp = 36.5

print('입실 불가') if temp>=37.5 else print('입실가능')

입실 불가

## 6. list 평균값
제시된 list의 평균 값을 출력하시오.

In [11]:
# for문 only
scores = [80, 89, 99, 83]

sum=0
count=0
for score in scores:
    count+=1
    sum+=score
print(sum/count)

87.75

In [20]:
# build-in 함수 활용
scores = [80, 89, 99, 83]

hey=sum(scores)/len(scores)
print(hey)

87.75

### 'int' object is not callable 에러잡기!
> 결론부터 말하자면, 예약어를 변수명으로 사용 하였기 때문이다.

> jupyter의 경우 한 파일에서 어떠한 코드를 실행시킨 후에 지우고 새로 코드를 썼다고 하더라도 해당 데이터가 그대로 남아 있다.
> 따라서 함수와 변수명의 이름중복으로 인해 해당 오류가 발생하게 된다.

> del을 이용하여 오류를 만든 변수를 삭제해주면 된다.

    ========>> `del sum`